$bp-m: 64.8rem;

.sidebar {
  width: 100%;
  height: 7rem;
  // padding: 1.5rem 0;
  border-bottom: 0.1rem solid rgb(32, 31, 31);
  position: fixed;

  // flex-direction: column;
  // top: 0;
  // background-color: rgb(12, 11, 11);
  // background-color: rgb(3, 3, 3);
  background-color: #121213;
  backdrop-filter: blur(40rem);
  // background-color: blue;
  // box-shadow: 0rem 0 6rem black;
  z-index: 100000;

  // @media only screen and (max-width: $bp-m) {
  //   width: 100%;
  //   height: 100%;
  //   flex-direction: row;
  //   // justify-content: space-between;
  //   // align-items: center;
  //   // background-color: gray;
  //   padding: 0 4rem;
  //   // height: 100%;
  // }
  &-wrapper {
    max-width: 140rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1.5rem;
  }
  &-list {
    // flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    // margin-top: 3rem;
    // padding: 0 2rem;
    // @media only screen and (max-width: $bp-m) {
    //   display: flex;
    //   justify-content: center;
    //   margin-left: 4rem;
    //   // align-items: center;
    //   // height: 100%;
    // }
    list-style: none;
    &_title {
      display: none;
      font-size: 1.8rem;
      color: #82827c;
      //   font-weight: 500;
      letter-spacing: 0.1rem;
      padding: 3rem 3rem 2rem;
      @media only screen and (max-width: $bp-m) {
        display: none;
      }
    }

    &_item {
      height: 100%;
      color: rgba(255, 255, 255, 0.788);
      text-decoration: none;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      text-transform: capitalize;
      padding: 1.2rem 2rem;
      transition: color 0.3s;

      &--text {
        margin-left: 1rem;
        font-weight: 500;
      }

      @media only screen and (max-width: $bp-m) {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        height: 100%;
      }
      &--active {
        // background-color: rgba(rgb(243, 45, 88), 0.2);
        color: rgb(243, 45, 88);
        border-bottom: 0.1rem solid rgb(243, 45, 88);

        // background-color: rgb(243, 45, 88);
        // @media only screen and (max-width: $bp-m) {
        //   border-bottom: 0.3rem solid rgb(243, 45, 88);
        //   border-left: 0;

        //   border-bottom-left-radius: 0;
        //   border-bottom-right-radius: 0;
        // }
      }

      &:hover:not(&--active) {
        background-color: rgba(32, 32, 32, 0.534);
      }
    }
  }
}

.logo {
  flex: 1;
  // margin-right: 10rem;
  display: flex;
  align-items: center;

  &-icon {
    color: #f32d58;
    // color: white;
    font-size: 3.5rem;
  }
  // height: 9rem;
}

//---------nav bar----------
.navbar {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  // padding: 0rem 0rem;
  // background-color: red;
  // position: absolute;

  transition: background-color 0.4s;
  // font-size: 2rem;
  // overflow: hidden;

  &-search {
    @media only screen and (max-width: 27rem) {
      display: none;
    }

    display: flex;
    align-items: center;
    // width: 30.5rem;
    // background-color: #80808033;
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    &--active {
      background-color: transparent;
    }
    &--input {
      font-size: 1.7rem;
      color: rgb(221, 221, 221);
      margin-left: 1.5rem;
      background-color: transparent;
      border: none;
      &::placeholder {
        color: rgb(211, 211, 211);
      }
      &:focus {
        outline: none;
      }
    }

    &--icon {
      color: rgb(216, 216, 216);
    }
  }
  &-scroll {
    background-color: #030303;
    position: fixed;
    padding: 1rem 7rem;
    // height: 6rem;
  }

  &-account {
    // z-index: 100;
    // flex: 1;
    display: flex;
    align-items: center;
    // justify-content: flex-end;

    &--notification {
      color: rgb(209, 209, 209);
      margin-right: 2.4rem;
    }
    &--person {
      width: 4.3rem;
      height: 4.3rem;
      border-radius: 50%;
      background-color: rgb(243, 45, 88);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.9rem;
    }
  }
}
