.home {
  margin-top: 2.5rem;
  display: flex;
  align-items: flex-start;
  height: calc(100% - 13rem);
}

.lists {
  flex: 1;
  height: 100%;
  &-header {
    font-size: 2.5rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-btn {
      color: white;
      font-size: 1.6rem;
      padding: 1.2rem 3rem;
      border: none;
      border-radius: 0.5rem;
      background-color: #f32d58;
      transition: color 0.2s;
      cursor: pointer;

      &:hover {
        background-color: #c42345;
      }
    }
  }
  &-content {
    margin-top: 2rem;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    grid-row-gap: 3rem;
    grid-column-gap: 2rem;
  }
}

.list {
  &-card {
    position: relative;
    background-color: #1f1e1e6e;
    border-radius: 0.5rem;
    overflow: hidden;
    &--cover {
      height: 35.5rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      &-noImg {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & * {
          font-size: 6rem;
          color: white;
        }
      }

      & img {
        width: 100%;
      }
    }

    &--overlay {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.815);
      height: 100%;
      width: 100%;

      &-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        &-pencil {
          font-size: 5.5rem;
          color: white;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &-dots {
          font-size: 3rem;
          color: white;
          position: absolute;
          top: 0;
          right: 3%;
        }
      }
    }
  }
  &-name {
    color: white;
    font-size: 1.6rem;
    margin-top: 1rem;
  }

  &:hover &-card--overlay {
    display: block;
  }
}

.emptyList {
  height: 100%;
  border: 0.1rem dashed #424141;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-img {
    width: 25rem;

    & img {
      width: 100%;
    }
  }
  &-content {
    margin-top: 3rem;

    text-align: center;
    &--header {
      color: white;
      font-size: 2rem;
      font-weight: 500;
    }

    &--desc {
      font-size: 1.6rem;
      color: rgb(124, 124, 124);
    }
  }
}

.profile {
  border-radius: 1rem;
  margin-right: 4rem;
  width: 25%;
  padding: 3rem;
  background-color: #1f1e1e6e;

  &-avatar {
    display: flex;
    justify-content: center;
    &-content {
      color: white;
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
      background-color: #f32d58;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      line-height: 1;
      font-weight: 500;
    }
  }

  &-info {
    text-align: center;
    margin-top: 1.5rem;
    &-name {
      font-size: 2rem;
      font-weight: 500;
      color: white;
    }

    &-handle {
      margin-top: 0.2rem;
      font-size: 1.6rem;
      color: #666666;
    }
  }

  &-stats {
    margin-top: 4rem;
    &-item {
      margin-bottom: 0.4rem;
      color: rgb(163, 163, 163);
      display: flex;
      justify-content: space-between;
      font-size: 1.7rem;

      &-content {
        color: white;
      }
    }
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.733);
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  &-card {
    padding: 2rem;
    width: 50rem;
    background-color: #121213;
    border-radius: 0.5rem;
    border: 0.1rem solid rgb(32, 32, 32);
    box-shadow: 0 0 5rem 5rem rgba(0, 0, 0, 0.226);

    &--header {
      display: flex;
      align-items: center;
      position: relative;
      &-label {
        flex: 1;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        color: white;
      }

      &-close {
        position: absolute;
        right: 0;
        background-color: transparent;
        border: none;
        display: flex;
        color: rgb(112, 112, 112);
        font-size: 2rem;
        transition: color 0.1s;
        cursor: pointer;
        &:hover {
          color: white;
        }
      }
    }

    &--content {
      &-nameWrapper {
        margin-top: 3rem;

        &-name {
          color: gray;
          font-size: 1.7rem;
          margin-bottom: 0.5rem;
        }

        &-input {
          width: 100%;
          padding: 1rem 1rem;
          border-radius: 0.5rem;
          border: none;
          color: rgb(71, 71, 71);
          font-size: 1.5rem;
          font-family: inherit;

          &::placeholder {
            color: rgb(158, 158, 158);
          }
        }
      }

      &-descWrapper {
        margin-top: 2rem;
        &-desc {
          color: gray;
          font-size: 1.7rem;
          margin-bottom: 0.5rem;
        }

        &-textarea {
          width: 100%;
          padding: 1rem 1rem;
          border-radius: 0.5rem;
          border: none;
          color: rgb(71, 71, 71);
          font-size: 1.5rem;
          font-family: inherit;
          resize: none;

          &::placeholder {
            color: rgb(158, 158, 158);
          }
        }
      }

      &-btn {
        display: flex;
        justify-content: center;
        width: 100%;

        & button {
          background-color: #f32d58;
          border: none;
          padding: 1rem 2rem;
          border-radius: 0.5rem;
          font-size: 1.6rem;
          font-weight: 500;
          font-family: inherit;
          color: white;
          margin-top: 2rem;
        }
      }
    }
  }
}
