.movie {
  color: white;
  margin-top: 3rem;
  width: 100%;

  &-content {
    justify-content: space-between;
    display: flex;
  }
  &-mainSection {
    width: 75%;

    &--header {
      width: 75%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      &-title {
        font-size: 3rem;
        // flex: 1;
        width: 70%;
        font-weight: 500;
      }

      &-tagline {
        font-size: 2rem;
        font-weight: 400;
        color: gray;
      }
      &-rating {
        letter-spacing: 0.1rem;
        // width: 12%;

        &--primary {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          & span {
            display: flex;
            margin-right: 1rem;
            // font-size: 4rem;
          }

          & p {
            font-weight: 500;
            color: white;
            margin-right: 0.5rem;
          }
        }

        &--secondry {
          display: flex;
          justify-content: flex-end;
          font-size: 1.2rem;
          text-transform: capitalize;
          color: gray;
        }
        color: #f32d58;
        font-size: 2.8rem;
      }
    }

    &--trailer {
      margin-top: 1.3rem;
      overflow: hidden;

      // border:.2rem solid #000;
      z-index: 10;
      border-radius: 0.5rem;
      // padding: 2rem;
      position: relative;
      padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
      &-player {
        // width: 100%;
        // height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &--img {
      margin-top: 1.3rem;
      width: 100%;
      height: 55rem;
      background-color: rgba(27, 27, 27, 0.404);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;

      & img {
        width: 100%;
      }
    }

    &--overview {
      margin-top: 2rem;
      width: 100%;

      &-header {
        font-size: 2rem;
        color: gray;
        font-weight: 500;
        text-transform: capitalize;
      }

      &-text {
        margin-top: 1rem;
        font-size: 1.6rem;
        letter-spacing: 0.04rem;
        color: rgb(192, 192, 192);
      }
    }

    &--cast {
      margin-top: 3rem;
    }
    &--recomendition {
      margin-top: 3rem;
    }
  }

  &-secondarySection {
    margin-top: 1rem;
    width: 22%;
    &-content {
      // background-color: #1b1b1b48;
      padding: 0rem 1rem;
      border-radius: 0.4rem;
    }
    &--genres {
      &-list {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;

        &--genre {
          transition: all 0.2s;
          color: #f32d58;
          font-size: 1.2rem;
          border: 0.1rem solid #f32d58;
          border-radius: 0.3rem;
          padding: 0.4rem 1rem;
          margin-right: 1rem;
          margin-bottom: 1rem;
          text-decoration: none;

          &:hover {
            background-color: #3f010e;
          }
        }
      }
    }

    &--networks {
      width: 100%;
      margin-bottom: 1rem;
      &-title {
        font-size: 2rem;
        color: gray;
        font-weight: 500;
      }

      &-list {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        &--logo {
          margin-right: 1rem;
          margin-bottom: 1rem;
          // width: 8rem;
          height: 3.2rem;
          padding: 1rem 1.5rem;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0.3rem;
          & img {
            // width: 100%;
            height: 100%;
          }
        }
      }
    }

    &--info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &-header {
        font-size: 2rem;
        color: gray;
        font-weight: 500;
      }

      &-subheader {
        margin-top: 1rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: rgb(107, 107, 107);
      }

      &-text {
        padding: 0.5rem 0rem;
        font-size: 1.5rem;
      }

      &-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 4rem;
        height: 12rem;
      }
    }
  }
}

.cast {
  &-header {
    text-transform: capitalize;
    font-size: 2rem;
    color: gray;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
  }

  &-btn {
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 0.3rem;
    // background-color: #252525;
    background-color: rgba(128, 128, 128, 0.164);
    border: none;
    font-size: 2rem;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
    padding: 2rem;

    &:hover {
      background-color: rgba(128, 128, 128, 0.082);
    }
  }

  &-person {
    text-decoration: none;
    color: silver;

    &--box {
      height: 100%;
      padding: 2rem 1rem;
      text-align: center;
      background-color: rgba(27, 27, 27, 0.404);
      border-radius: 0.3rem;
      font-size: 1.2rem;
      &-img {
        margin: auto;
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 1rem;
        width: 6rem;
        height: 6rem;
        & img {
          border-radius: 50%;
          object-fit: cover;
        }
      }

      &-text {
        // background-color: red;
        display: flex;
        flex-direction: column;
        flex: 1;
        &--name {
          color: white;
          text-align: center;
          font-size: 1.4rem;
        }
        &--role {
          font-size: 1.2rem;
          text-align: center;
          color: #f32d58;
        }
      }
    }
  }
}

.seasons {
  width: 100%;
  // height: 100%;
  margin-top: 4rem;

  &-header {
    padding-bottom: 0.5rem;
    text-transform: capitalize;
    font-size: 2rem;
    color: gray;
    font-weight: 500;
    display: flex;
    align-items: baseline;
    &--text {
      margin-right: 2rem;
    }

    &--pagination {
      width: 80%;
      &-num {
        font-size: 1.8rem;
        margin-right: 1.5rem;
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: gray;
        font-weight: 500;
        // width: 80%;

        &:hover:not(.active) {
          color: #f32d58;
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }

  &-section {
    position: relative;
    height: 100%;
    width: 100%;
    .slick-slide {
      & div {
        display: flex;
      }
    }
  }
}

.active {
  // font-size: 2rem;
  font-weight: 700;
  color: white;
}

.episode {
  display: flex;
  flex-direction: column;
  &-content {
    position: relative;
    width: 100%;
    // height: 17rem;
    // height: 100%;
    // display: flex;
    // flex-direction: column;
    &--overlay {
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      font-size: 1.3rem;
      padding: 0.5rem 0.5rem;
      bottom: 0;
      background-image: linear-gradient(rgba(0, 0, 0, 0), hsla(0, 0%, 0%, 0.5));
      color: rgba(235, 235, 235, 0.966);

      &-rate {
        display: flex;
        align-items: center;
      }
    }
  }
  padding: 1rem 0.4rem;

  &-box--img {
    width: 100%;
    border-radius: 0.4rem;
    overflow: hidden;
    height: 17rem;
    background-color: rgba(27, 27, 27, 0.404);
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      width: 100%;
    }
  }

  // &-box--icon {
  //   // width: 100%;
  //   // border-radius: 0.4rem;
  //   // overflow: hidden;
  //   // position: relative;
  //   height: 17rem;
  //   // background-color: rgba(27, 27, 27, 0.404);
  //   // display: flex;
  //   // align-items: center;
  //   // justify-content: center;
  //   // & img {
  //   //   width: 100%;
  //   // }
  // }

  &-title {
    flex: 1;
    margin-top: 0.5rem;
    font-size: 1.4rem;
    letter-spacing: 0.04rem;
  }
}

.loader {
  position: absolute;
  background-color: #0c0b0b;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
}
