@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import 'bar';
@import 'movies';

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}

html{
    font-size: 62.5%; // 1rem = 10px
}

body{
    font-size: inherit;
    font-family: "Roboto", sans-serif;
}


.container {
    display: flex;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.btn{
    border-radius: .2rem;
    font-size: 2rem;
    text-transform: capitalize;
    border: .1rem solid #f32d58;

    &-primary{
        padding: 2rem 4rem;
        background-color: #f32d58;
        color: white;
    }

    &-secandry{
        margin-left: .5rem;
        background-color: transparent;
        color: #f32d58;
        // padding:  0 1rem;
    }
}