.movies-content {
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  &_nowPlaying {
    margin-bottom: 1rem;
    &--movie {
      position: relative;
      height: 70vh;
      &-img {
        width: 100%;
      }
      &-info {
        padding: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        position: absolute;
        bottom: -1rem;
        background-image: linear-gradient(rgba(#030303, 0), rgba(#030303, 0.8));
        width: 100%;
        height: 100%;
        &__section {
          color: rgb(168, 168, 168);
          font-size: 1.8rem;
          text-transform: capitalize;
        }
        &__title {
          color: white;
          font-size: 5rem;
          font-weight: 500;
        }

        &__overview {
          margin-top: 1rem;
          width: 50%;
          color: rgb(177, 177, 177);
          font-size: 1.7rem;
          margin-bottom: 2rem;
          display: none;
        }

        &__rating {
          display: flex;
          & span {
            margin-right: 2rem;
          }
          margin-top: 0.3rem;
          width: 50%;
          color: #f32d58;
          font-size: 1.7rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }
      }
    }
  }
  &_SecondarySection {
    padding: 0 5rem;
    width: 100%;

    // margin-bottom: 1rem;
    &-header {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 4rem 1rem 0;
      &--name {
        color: white;
        font-size: 2.6rem;
        font-weight: 500;
        text-transform: capitalize;
      }
    }

    &-movie {
      text-decoration: none;
      width: 100%;
      // object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 2rem 0.5rem;
      &--box {
        transition: all 0.2s;
        height: 32rem;

        // z-index: 1;
        position: relative;
        &-img {
          transition: all 0.2s;
          border-radius: 0.05rem;
          width: 100%;
          height: 100%;
          display: block;

          &:hover {
            box-shadow: 0rem 0rem 5rem rgba(0, 0, 0, 0.5);
          }
        }

        &:hover {
          transform: scale(1.03);
        }

        &-info {
          opacity: 0;
          position: absolute;
          margin: 0rem 0rem;
          bottom: 0rem;
          // right: 1/rem;
          width: 100%;
          // /
          // z-index: 1;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          // height: 100%;
          flex-direction: column;
          &-title {
            // width: 100%;
            font-size: 2rem;
            color: white;
          }
        }
      }

      &:hover &--box-info {
        opacity: 1;
        background-color: #25252571;
      }

      &:hover &--box-img {
        opacity: 0.3;

        // display: none;
      }

      // &--title {
      //   margin-top: 1rem;
      //   font-size: 1.3rem;
      //   text-align: center;
      //   font-weight: 700;
      //   color: rgb(255, 255, 255);
      // }
    }
  }
  &_genreSection {
    padding: 0 5rem;
    width: 100%;
    margin-bottom: 1rem;
    &-header {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 4rem 1rem 1rem;
      &--name {
        color: white;
        font-size: 2.6rem;
        font-weight: 500;
        text-transform: capitalize;
      }
    }

    &-genre {
      padding: 0.5rem 0.5rem;
      width: 100%;
      transition: all 0.2s;
      text-decoration: none;

      &:focus {
        outline: none;
      }
      &-box {
        // width: 15rem;
        // height: 16rem;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(27, 27, 27, 0.404);
        border-radius: 0.2rem;
        font-size: 1.7rem;
        color: rgb(161, 161, 161);
        &--img {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 7rem;
          height: 10rem;
          padding-bottom: 1rem;
          // margin-bottom: 1rem;
          // background-color: red;
          // width: 6rem;
          // flex: 1;
        }
        &--text {
          // flex: 1;
          // width: 100%;
          // background-color: blue;
        }
        &:hover {
          // border: .5rem solid #f32d58;
          background-color: #f32d583a;
        }
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }
  &_trailerSection {
    padding: 0 5rem;
    width: 100%;
    margin-bottom: 1rem;
    &-header {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 4rem 1rem 1rem;
      &--name {
        color: white;
        font-size: 2.6rem;
        font-weight: 500;
        text-transform: capitalize;
      }
    }
    &-trailer {
      padding: 0.5rem 0.5rem;
      // position: relative;
      // padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
      // &--player {
      //   // position: absolute;
      //   // top: 0;
      //   // left: 0;
      // }
    }
  }

  &_networkSection {
    padding: 0 5rem;
    width: 100%;
    margin-bottom: 1rem;
    &-header {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 4rem 1rem 1rem;
      &--name {
        color: white;
        font-size: 2.6rem;
        font-weight: 500;
        text-transform: capitalize;
      }
    }

    &-network {
      padding: 0.5rem 0.5rem;
      width: 100%;
      transition: all 0.2s;
      text-decoration: none;

      &:focus {
        outline: none;
      }
      &-box {
        // width: 15rem;
        height: 16rem;
        padding: 2rem 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f32d583a;
        border-radius: 0.2rem;
        font-size: 1.7rem;
        color: rgb(161, 161, 161);
        &--img {
          display: flex;
          filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(1);
          justify-content: center;
          align-items: center;

          // padding-bottom: 1rem;
          // margin-bottom: 1rem;
          // background-color: red;
          // width: 6rem;
          // flex: 1;
        }
        &:hover {
          // border: .5rem solid #f32d58;
          background-color: #5545498e;
        }
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.section {
  height: 35rem;
  // height: 30rem;
}
