.movie {
  &-bg {
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10rem 0rem 0rem 0rem;
  }

  &-header {
    padding: 0rem 20rem 4rem;
    // padding: 0rem 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--text {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-self: center;
      &-title {
        font-weight: 500;
        font-size: 4.5rem;
        color: white;
      }
      &-details {
        flex: 1;
        display: flex;
        font-size: 1.6rem;
        color: #f32d58;

        &--genres {
          display: flex;
          align-items: center;
          margin-right: 2rem;

          &-genre {
            margin-right: 0.3rem;
            margin-left: 0.3rem;
            color: #f32d58;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
        & p {
          margin-right: 2rem;
        }
      }
    }
    &--rating {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      &-number {
        font-weight: 500;
        font-size: 4rem;
        color: #f32d58;
      }
      &-user {
        font-size: 1.2rem;
        color: #555555;
      }
    }
  }
  &-content {
    display: flex;
    // height: 59rem;
    padding: 0rem 20rem;

    // background-color: red;
    &-left {
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      // height: 60rem;
      &--poster {
        // flex: 1;
        width: 35rem;
        margin-bottom: 0.4rem;
        &-img {
          border-radius: 0.2rem;
          width: 100%;
        }
      }
    }

    &--details {
      height: 100%;
      flex: 1;
      color: white;
      padding: 0 0rem 0 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // flex: 1;

      &-desc,
      &-trailer,
      &-networks {
        &-title {
          margin-bottom: 1rem;
          font-size: 3rem;
          font-weight: 500;
        }
        &-overview {
          font-size: 1.7rem;
          color: rgb(155, 155, 155);
          margin-bottom: 3rem;
        }
      }

      &-trailer {
        // margin-bottom: 2rem;
        &-video {
          position: relative;
          padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
          &--player {
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }

      &-networks {
        margin-bottom: 3rem;
        width: 100%;
        &-container {
          display: flex;
          flex-wrap: wrap;
          &-logo {
            margin-right: 1rem;
            margin-bottom: 1rem;
            // width: 8rem;
            height: 4rem;
            padding: 1rem 1.5rem;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.3rem;
            & img {
              // width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
  &-bottom {
    padding: 3rem 10rem;

    &_genreSection {
      &-header {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        padding: 4rem 1rem 0;
        &--name {
          color: white;
          font-size: 3rem;
          font-weight: 500;
          // margin-bottom: 1rem;
          // margin-left: 1rem;
        }
      }

      &-person {
        padding: 2rem 0.5rem;
        width: 100%;
        transition: all 0.2s;
        text-decoration: none;
        &-box {
          transition: all 0.2s;
          padding: 2rem 0.5rem;

          height: 20rem;
          //   background-color: gold;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: rgba(27, 27, 27, 0.404);
          border-radius: 0.2rem;
          font-size: 1.7rem;
          &--img {
            flex: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            overflow: hidden;
            & img {
              border-radius: 50%;
              object-fit: cover;
              width: 7rem;
              height: 7rem;
            }
          }

          &--text {
            display: flex;
            flex-direction: column;
            flex: 1;
            &-name {
              color: white;
              text-align: center;
              font-size: 1.5rem;
              font-weight: 500;
            }
            &-role {
              height: 30%;
              overflow: hidden;
              font-size: 1.3rem;
              text-align: center;
              color: #f32d58;
            }
          }
          &:hover {
            // border: .5rem solid #f32d58;
            background-color: #f32d583a;
            transform: scale(1.04);
          }
        }
      }
    }
  }
}
